<xml>
  <cardsUrl value="http://www.thronesdb.com/api/public/cards/" />
  <packsUrl value="http://www.thronesdb.com/api/public/packs/" />
  <dbImageUrl value="http://www.thronesdb.com/bundles/cards/" />
  <cgImageUrl value="http://lcg-cdn.fantasyflightgames.com/got2nd/" />
  <properties>
    <property octgn_name="Type" type="property" value="type_name" />
    <property octgn_name="Faction" type="property" value="faction_name" />
    <property octgn_name="Text" type="property" value="text" isRich="True"/>
    <property octgn_name="Traits" type="property" value="traits" />
    <property octgn_name="Unique" type="property" value="is_unique" >
      <replace match="True" value="Yes" />
      <replace match="False" value="No" />
    </property>
    <property octgn_name="Loyal" type="property" value="is_loyal" >
      <replace match="True" value="Yes" />
      <replace match="False" value="No" />
    </property>
    <property octgn_name="Cost" type="property" value="cost" />
    <property octgn_name="Strength" type="property" value="strength" />
    <property octgn_name="Deck Limit" type="property" value="deck_limit" />
    <property octgn_name="Income" type="property" value="income" />
    <property octgn_name="Initiative" type="property" value="initiative" />
    <property octgn_name="Claim" type="property" value="claim" />
    <property octgn_name="Reserve" type="property" value="reserve" />
    <property octgn_name="Illustrator" type="property" value="illustrator" />
    <property octgn_name="Card Number" type="property" value="position" />
    <property octgn_name="Icons" isRich="True">
      <run type="property" value="is_military">
        <replace match="True" value="[military]" />
        <replace match="False" value="" />
      </run>
      <run type="property" value="is_intrigue">
        <replace match="True" value="[intrigue]" />
        <replace match="False" value="" />
      </run>
      <run type="property" value="is_power">
        <replace match="True" value="[power]" />
        <replace match="False" value="" />
      </run>
    </property>
  </properties>
  <sizes>
    <size name="HorizontalCards">
      <match property="Type" value="Plot"/>
    </size>
  </sizes>
  <symbols>
    <symbol match="[thenightswatch]" id="nightswatch" name="[The Night's Watch]" />
    <symbol match="[baratheon]" id="baratheon" name="[House Baratheon]" />
    <symbol match="[targaryen]" id="targaryen" name="[House Targaryen]" />
    <symbol match="[stark]" id="stark" name="[House Stark]" />
    <symbol match="[martell]" id="martell" name="[House Martell]" />
    <symbol match="[tyrell]" id="tyrell" name="[House Tyrell]" />
    <symbol match="[lannister]" id="lannister" name="[House Lannister]" />
    <symbol match="[greyjoy]" id="greyjoy" name="[House Greyjoy]" />
    <symbol match="[intrigue]" id="intrigue" name="[Intrigue]" />
    <symbol match="[military]" id="military" name="[Military]" />
    <symbol match="[power]" id="power" name="[Power]" />
  </symbols>
  <replaces>
  </replaces>
</xml>